.portraitBackground {
  background-attachment: fixed;
  background-size: 0 0;
  height: 100vh;
  max-height: 100vw;
  margin: auto;
}

.portraitElementContainer {
  width: 100%;
  height: 100%;
  margin-bottom: -100%;
  margin-right: -100%;
}

.portraitBackWall {
  margin-top: 10px;
  margin-left: -20px;

  width: 100%;
  height: 100%;
  margin-bottom: calc(-100% - 10px);
  margin-right: calc(-100% + 20px);
}
